<div
  class="font-bold text-3xl md:text-4xl [text-wrap:balance] bg-clip-text text-transparent bg-gradient-to-r from-slate-200/60 to-50% to-slate-200"
>
  Dobos Transportnál számíthat ránk
  <span
    class="text-indigo-500 inline-flex flex-col h-[calc(theme(fontSize.3xl)*theme(lineHeight.tight))] md:h-[calc(theme(fontSize.4xl)*theme(lineHeight.tight))] overflow-hidden"
  >
    <ul class="block text-slide sm:text-left text-center leading-tight [&_li]:block">
      <li>autószállításban.</li>
      <li>bikázásban.</li>
      <li>autómentésben.</li>
      <li>kerékcserében.</li>
      <li>szállítmányozásban.</li>
      <li aria-hidden="true">autószállításban.</li>
    </ul>
  </span>
</div>
