---
import StripedRow from "../components/striped-row/StripedRow.astro";
---

<section class="md:pt-[100px] pt-[70px] md:pb-[100px] pb-[70px] relative overflow-hidden">
  <!-- Lágy fények -->
  <div class="absolute inset-0 overflow-hidden pointer-events-none -z-10">
    <div class="absolute top-0 left-0 w-full md:w-1/2 aspect-square bg-teal-500/10 rounded-full blur-[150px]"></div>
    <div class="absolute bottom-0 right-0 w-full md:w-1/2 aspect-square bg-teal-500/10 rounded-full blur-[150px]"></div>
  </div>

  <div class="container max-w-7xl mx-auto">
    <div class="grid lg:grid-cols-2 grid-cols-1 px-5 2xl:px-0 gap-5">
      <div class="leading-8 space-y-5">
        <div class="space-y-2">
          <h2 class="uppercase text-2xl md:text-3xl text-white">Az autómentés számunkra nem csupán munka!</h2>
          <h2 class="uppercase text-2xl md:text-3xl text-white font-bold">NEKÜNK EZ A HIVATÁSUNK!</h2>
        </div>
        <h3 class="uppercase">0-24 autómentő, autómentés, autószállítás, motormentés - motorszállítás és bikázás</h3>
        <h3 class="font-bold text-white">
          <span class="underline-wavy">Mit nyer,</span> ha minket választ?
        </h3>
        <p>
          Gyors, udvarias és kedvező árú szolgáltatásokat nyújtunk, Szombathelyen és az ország teljes területén. Cégünk
          több éves szakmai tapasztalattal és több száz elégedett ügyféllel a háta mögött garantálja, hogy autómentő,
          autómentés, autószállítás, motormentés, motorszállítás és bikázás szolgáltatásunkban nem fog csalódni. Teljes
          körű biztosítással rendelkezünk. Készen állunk arra, hogy a nap 24 órájában, a hét minden napján válaszoljunk
          minden járművel kapcsolatos vészhelyzetre.
        </p>
      </div>
      <div class="space-y-3">
        <img src="./horizontal.webp" alt="" class="rounded-2xl" />
        <p class="text-center">
          Autószállító trélereink 2,2 – 2,6 tonna raksúllyal rendelkeznek és elektromos csörlőkkel vannak felszerelve,
          melyek 6 tonnás vonóerővel bírnak.
        </p>
      </div>
    </div>
    <div class="mt-[50px]">
      <StripedRow isFirst><p><span class="font-bold text-white">Több éves</span> szakmai tapasztalat</p></StripedRow>
      <StripedRow>
        <p>
          <span class="font-bold text-white">Rövid érkezési idő</span> - egyik nagy előnyünk, hogy rendkívül gyorsak vagyunk,
          nagyon rövid idő alatt a helyszínre érkezünk
        </p>
      </StripedRow>
      <StripedRow>
        <p>
          <span class="font-bold text-white">Nincsenek rejtett költségek</span> - nálunk nincs felszámítva külön autópálya
          és útdíj
        </p>
      </StripedRow>
      <StripedRow>
        <p>
          <span class="font-bold text-white">Utasszállítás</span> - felár nélkül a sofőrön kívül akár 4 utast is elszállítunk
        </p>
      </StripedRow>
      <StripedRow>
        <p>
          <span class="font-bold text-white">Helyszíni segítség</span> - kisebb műszaki problémát akár a helyszínen is javítunk
        </p>
      </StripedRow>
      <StripedRow>
        <p>
          <span class="font-bold text-white">Kifogyott az üzemanyag</span> - kérésre a helyszínre viszünk üzemanyagot is
        </p>
      </StripedRow>
      <StripedRow>
        <p>
          <span class="font-bold text-white">Helyismeret</span> - jól ismerjük a környékbeli szervizeket, így akár az éjszaka
          folyamán is el tudjuk vinni autóját egy non-stop szervizbe
        </p>
      </StripedRow>
      <StripedRow>
        <p>
          <span class="font-bold text-white">Garancia</span> - teljes körű biztosítási garanciát vállalunk az autómentés
          egész folyamatára
        </p>
      </StripedRow>
    </div>
  </div>
</section>
